[submodule "app/src/main/cpp/vrb"]
	path = app/src/main/cpp/vrb
	url = https://github.com/igalia/vrb.git
[submodule "app/src/main/cpp/tinygltf"]
	path = app/src/main/cpp/tinygltf
	url = https://github.com/Igalia/tinygltf.git
	branch = igalia.com/wolvic
[submodule "app/src/KTX-Software"]
	path = app/src/main/cpp/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
	branch = 4.2
