<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mozilla.vrbrowser">
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.vr.high_performance" android:required="true" />
    <uses-feature android:name="android.software.vr.mode" android:required="true" />
    <uses-feature android:name="android.hardware.vr.headtracking"
        android:version="1"
        android:required="false" />
    <application>
        <activity android:name=".VRBrowserActivity"
            android:screenOrientation="landscape"
            android:enableVrMode="@string/gvr_vr_mode_component">
            <meta-data android:name="com.google.android.vr.icon"
                android:resource="@drawable/ffgvr_foreground" />
            <meta-data android:name="com.google.android.vr.icon_background"
                android:resource="@drawable/ffgvr_background" />
            <meta-data android:name="android.app.lib_name" android:value="native-lib" />
            <!-- Intent filter that enables this app to be launched from the Daydream Home menu. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.intent.category.DAYDREAM"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="com.google.intent.category.DAYDREAM"/>
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
