<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.mozilla.vrbrowser">
    <application>
        <activity android:name=".VRBrowserActivity"
            android:screenOrientation="landscape"
            android:enableVrMode="@string/gvr_vr_mode_component"
            android:resizeableActivity="false">
            <meta-data android:name="android.app.lib_name" android:value="native-lib" />
            <!-- Intent filter that enables this app to be launched from the
Daydream Home menu. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.intent.category.DAYDREAM"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
