# https://firefox-source-docs.mozilla.org/mobile/android/geckoview/consumer/automation.html
#env:
#  MOZ_LOG: nsHttp:5
#
#args:
#  - --marionette
#  - --profile
#  - "/path/to/gecko-profile"
#
prefs:
  dom.vr.enabled: false
  dom.gamepad.extensions.enabled: true
  dom.vr.external.enable: true
  dom.vr.webxr.enabled: true
  webgl.enable-draft-extensions: true
  # This does not really "force" MSAA in WebGL but instead, in the case of WebXR,
  # it respects what the client (Wolvic) has specified in the Gecko session settings.
  webgl.msaa-force: true
  dom.webcomponents.customelements.enabled: true
  javascript.options.ion: true
  media.webspeech.synth.enabled: false
  # GPU process in Android broke WebXR. https://bugzilla.mozilla.org/show_bug.cgi?id=1771854
  layers.gpu-process.enabled: false
  # disable pinch gestures
  browser.gesture.pinch.out: ''
  browser.gesture.pinch.in: ''
  browser.gesture.pinch.out.shift: ''
  browser.gesture.pinch.in.shift: ''
  apz.one_touch_pinch.enabled: false
  media.peerconnection.ice.obfuscate_host_addresses: true