<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:glEsVersion="0x00030000"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="${applicationId}.CRASH_RECEIVER_PERMISSION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- Requested by GeckoView but not needed in VR -->
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:node="remove"/>

    <permission android:name="${applicationId}.CRASH_RECEIVER_PERMISSION"
                android:protectionLevel="signature"/>

    <application
        android:name="com.igalia.wolvic.VRBrowserApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FxR.Dark">
        <activity
            android:name=".VersionCheckActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.igalia.wolvic.VRBrowserActivity"
            android:launchMode="singleInstance"
            android:exported="false"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenSize|uiMode|locale|layoutDirection"
            android:windowSoftInputMode="stateAlwaysHidden">
            <!-- Declares Wolvic as a browser app -->
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
            <!-- Used for the special wolvic:// links -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="wolvic"
                    android:host="com.igalia.wolvic" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.igalia.wolvic.crashreporting.CrashReporterService"
            android:exported="false"
            android:process=":crash"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/downloads_provider"/>
        </provider>
    </application>
</manifest>
