<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igalia.wolvic">
    <uses-feature android:glEsVersion="0x00030000"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="${applicationId}.CRASH_RECEIVER_PERMISSION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!-- TODO(voit): Move additional permissions to 'chromium' build variant -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <permission android:name="${applicationId}.CRASH_RECEIVER_PERMISSION"
                android:protectionLevel="signature"/>

    <application
        android:name="com.igalia.wolvic.VRBrowserApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/FxR.Dark">
        <!-- TODO(voit): Move ZygotePreload to 'chromium' build variant -->
        <activity
            android:name="com.igalia.wolvic.VRBrowserActivity"
            android:zygotePreloadName="org.chromium.content_public.app.ZygotePreload"
            android:launchMode="singleInstance"
            android:exported="true"
            android:configChanges="density|keyboardHidden|navigation|orientation|screenSize|uiMode|locale|layoutDirection"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:scheme="wolvic"
                    android:host="com.igalia.wolvic" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.igalia.wolvic.crashreporting.CrashReporterService"
            android:exported="false"
            android:process=":crash"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/downloads_provider"/>
        </provider>
        <!-- TODO(voit): Move additional services to 'chromium' build variant -->
        <!-- The following service entries exist in order to allow us to
          start more than one sandboxed process. -->

        <!-- NOTE: If you change the values of "android:process" for any of the below services,
             you also need to update kHelperProcessExecutableName in chrome_constants.cc. -->
        <meta-data android:name="org.chromium.content.browser.NUM_SANDBOXED_SERVICES"
            android:value="40"/>
        <service android:name="org.chromium.content.app.SandboxedProcessService0"
            android:process=":sandboxed_process0"
            android:useAppZygote="true"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService1"
            android:process=":sandboxed_process1"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService2"
            android:process=":sandboxed_process2"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService3"
            android:process=":sandboxed_process3"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService4"
            android:process=":sandboxed_process4"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService5"
            android:process=":sandboxed_process5"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService6"
            android:process=":sandboxed_process6"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService7"
            android:process=":sandboxed_process7"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService8"
            android:process=":sandboxed_process8"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService9"
            android:process=":sandboxed_process9"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService10"
            android:process=":sandboxed_process10"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService11"
            android:process=":sandboxed_process11"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService12"
            android:process=":sandboxed_process12"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService13"
            android:process=":sandboxed_process13"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService14"
            android:process=":sandboxed_process14"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService15"
            android:process=":sandboxed_process15"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService16"
            android:process=":sandboxed_process16"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService17"
            android:process=":sandboxed_process17"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService18"
            android:process=":sandboxed_process18"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService19"
            android:process=":sandboxed_process19"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService20"
            android:process=":sandboxed_process20"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService21"
            android:process=":sandboxed_process21"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService22"
            android:process=":sandboxed_process22"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService23"
            android:process=":sandboxed_process23"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService24"
            android:process=":sandboxed_process24"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService25"
            android:process=":sandboxed_process25"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService26"
            android:process=":sandboxed_process26"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService27"
            android:process=":sandboxed_process27"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService28"
            android:process=":sandboxed_process28"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService29"
            android:process=":sandboxed_process29"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService30"
            android:process=":sandboxed_process30"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService31"
            android:process=":sandboxed_process31"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService32"
            android:process=":sandboxed_process32"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService33"
            android:process=":sandboxed_process33"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService34"
            android:process=":sandboxed_process34"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService35"
            android:process=":sandboxed_process35"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService36"
            android:process=":sandboxed_process36"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService37"
            android:process=":sandboxed_process37"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService38"
            android:process=":sandboxed_process38"
            android:isolatedProcess="true"
            android:exported="false" />
        <service android:name="org.chromium.content.app.SandboxedProcessService39"
            android:process=":sandboxed_process39"
            android:isolatedProcess="true"
            android:exported="false" />

        <meta-data android:name="org.chromium.content.browser.NUM_PRIVILEGED_SERVICES"
            android:value="5"/>
        <service android:name="org.chromium.content.app.PrivilegedProcessService0"
            android:process=":privileged_process0"
            android:isolatedProcess="false"
            android:exported="false" />
        <service android:name="org.chromium.content.app.PrivilegedProcessService1"
            android:process=":privileged_process1"
            android:isolatedProcess="false"
            android:exported="false" />
        <service android:name="org.chromium.content.app.PrivilegedProcessService2"
            android:process=":privileged_process2"
            android:isolatedProcess="false"
            android:exported="false" />
        <service android:name="org.chromium.content.app.PrivilegedProcessService3"
            android:process=":privileged_process3"
            android:isolatedProcess="false"
            android:exported="false" />
        <service android:name="org.chromium.content.app.PrivilegedProcessService4"
            android:process=":privileged_process4"
            android:isolatedProcess="false"
            android:exported="false" />
        <meta-data android:name="org.chromium.content.browser.SMART_CLIP_PROVIDER"
            android:value="org.chromium.content.browser.SmartClipProvider" />
    </application>
</manifest>
